<form method="POST" class="total-cookie-consent-banner" role="alertdialog">
    
    {{ csrfInput() }}
    {{ actionInput('total-cookie-consent/default/save') }}

    <h2>{{ "cookie settings"|t }}</h2>
    <div style="padding:32px;">
        {% for type in consentTypes %}
            <lightswitch-component
                {% if type.required %}
                    style="pointer-events: none;"
                {% endif %} 
            >
                <input 
                    type="checkbox" 
                    name="{{ type.handle }}" 
                    id="{{ type.handle }}-input" 
                    {% if type.defaultOn or type.required %}
                        checked
                    {% endif %}
                    value="1"
                />
                <label for="{{ type.handle }}-input">
                    <i></i>
                    <div>
                        <h3>
                            {{ type.name|t }}
                            {% if type.required %}
                                <span>({{ "required"|t }})</span>
                            {% endif %}
                        </h3>
                        <p>
                            {{ type.description|t }}
                            {% if type.url|length %}
                                <a href="{{ type.url }}">{{ "Read policy"|t }}.</a>
                            {% endif %}
                        </p>
                    </div>
                </label>
            </lightswitch-component>
        {% endfor %}
        <div style="display: flex;flex-flow: row nowrap; align-items: center;padding-top: 16px;">
            <button class="button accept" aria-label="{{ 'close cookie consent modal'|t }}" type="submit">
                {{ "accept"|t }}
            </button>
            {% if url|length %}
                <a style="margin-left: 16px;" class="button" href="{{ url }}">
                    <i>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>
                    </i>
                    <span>{{ "privacy policy"|t }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</form>