<form method="POST" class="total-cookie-consent-banner" role="alertdialog">
    
    {{ csrfInput() }}
    {{ actionInput('total-cookie-consent/default/save') }}

    <h2>{{ "cookie settings"|t('total-cookie-consent') }}</h2>
    <div style="padding:32px;">
        {% for type in consentTypes %}
            <lightswitch-component eager-load-css="lightswitch-component">
                <input 
                    type="checkbox" 
                    name="{{ type.handle }}" 
                    id="{{ type.handle }}-input" 
                    {% if type.defaultOn or type.required %}
                        checked
                    {% endif %}
                    {% if type.required %}
                        disabled
                    {% endif %} 
                    value="1"
                />
                <label for="{{ type.handle }}-input">
                    <i></i>
                    <div>
                        <h3>
                            {{ type.name }}
                            {% if type.required %}
                                <span>({{ "required"|t('total-cookie-consent') }})</span>
                            {% endif %}
                        </h3>
                        <p>
                            {{ type.description }}
                            {% if type.url|length %}
                                <a href="{{ type.url }}">{{ "Read policy"|t('total-cookie-consent') }}.</a>
                            {% endif %}
                        </p>
                    </div>
                </label>
            </lightswitch-component>
        {% endfor %}
    </div>
    <button aria-label="{{ 'close cookie consent modal'|t('total-cookie-consent') }}" type="submit">
        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
    </button>
</form>